.ha{
    background: green;
    color: white;
}




.you{
    border-style: dotted;
    height: 600px;
    width: 980;
    text-align: center;
}


.hh{
    
 background:orange;
    font:24px;
    color: deeppink;
}

