

#k1{
    background-color: chartreuse;
    color: green;
    font-size: 30px;
    text-align: center;
}







#k2{
    background-color: chartreuse;
    color: green;
    font-size: 30px;
    text-align: center;
}





#k3{
    background-color: chartreuse;
    color: green;
    font-size: 30px;
    text-align: center;
}







#k4{
    background-color: chartreuse;
    color: green;
    font-size: 30px;
    text-align: center;
}





#k5{
    background-color: chartreuse;
    color: green;
    font-size: 30px;
    text-align: center;
}

border="1" width="980"




